<aside class="sidebar">
  <div class="sidebar-brand">
    <a href="summary.html">
      <img class="sidebar-logo" src="img/logo/join_logo_white.svg" alt="Join" />
    </a>
  </div>

  <!-- Menu for LOGGED IN users -->
  <nav class="sidebar-nav nav-auth">
    <a class="nav-item" href="summary.html">
      <img src="img/icons/summary.svg" class="nav-icon" alt="Summary" />
      <span>Summary</span>
    </a>

    <a class="nav-item add-task-btn" href="add_task.html">
      <img src="img/icons/add_task.svg" class="nav-icon" alt="Add Task" />
      <span>Add Task</span>
    </a>

    <a class="nav-item" href="board.html">
      <img src="img/icons/board.svg" class="nav-icon" alt="Board" />
      <span>Board</span>
    </a>

    <a class="nav-item" href="contacts.html">
      <img src="img/icons/contacts.svg" class="nav-icon" alt="Contacts" />
      <span>Contacts</span>
    </a>
  </nav>

  <!-- Menu for NOT logged in users -->
  <nav class="sidebar-nav nav-guest">
    <a class="nav-item" href="index.html">
      <img src="img/icons/login.svg" class="nav-icon" alt="login bild" />
      <span>Log in</span>
    </a>
  </nav>

  <div class="sidebar-footer">
    <a class="footer-link" href="privacypolicy.html">Privacy Policy</a>
    <a class="footer-link" href="legal-notice.html">Legal notice</a>
  </div>
</aside>
